<h1>UserWineLogs#create</h1>
<p>Find me in app/views/user_wine_logs/create.html.erb</p>

<%= form_for [@user_wine, @user_wine_log] do |f| %>
	<%= render 'form' %>
<% end %>

<%= link_to 'Skip', @user_wine %>