<h1>WineApp 2.0 Home Page</h1>

<% unless signed_in? %>
	<h3>Logged out</h3>

<% else %>	
	<h3>My Wines</h3>
	<% if current_user.wines.any?%>
		<table cellpadding="5" cellspacing="0">
			<tr>
				<td><strong>Name</strong></td>
				<td><strong>Year</strong></td>
			</tr>
			<% current_user.wines.each do |uw| %>
				<tr>
					<td>
						<%= link_to uw.name, wine_path(uw) %>
					</td>
					<td>
						<%= uw.year %>
					</td>
				</tr>
			<% end %>
		</table>
		<%= link_to "Add More Wines", wines_path %>
	<% else %>	
		<h5>No Wines Yet</h5>
		<%= link_to "Add Wines", wines_path %>
	<% end %>
<% end %>